<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Easy Money</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href = "{% static 'manager/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'manager/sidebar.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <!-- Header -->
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'manager:index' %}">EM</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id ="topNavBar">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="{% url 'manager:index' %}">
                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>&nbsp;
                Budgets
              </a>
            </li>
          </ul>
          {% block user %}
          {% endblock %}
          <ul class="nav navbar-nav navbar-right">
            {% block section %}
            {% endblock %}
          </ul>
        </div>
      </div>
    </nav>
{% block body %}
{% endblock %}
  </body>
</html>
