{% extends 'manager/header.html' %}

{% block body %}
{% if budgets %}
<h1><center>Here are your Budgets: </center></h1><br>
  {% for budget in budgets %}
  <div class="container">
    <div class="row">
      <div class="col-8">
        <a href = "{% url 'manager:detail' budget.pk %}">
          <div class="panel panel-default">
            <div class="panel-heading">{{budget.budget_title}}</div>
            <div class="panel-body">{{budget.budget_total}}</div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <button type="button" name="button">Delete</button>
      </div>
    </div>
  </div>
  {% endfor %}

{% else %}
  <h3>You Dont have any budgets</h3>

{% endif %}
{% endblock %}
