{% extends 'manager/header.html' %}
{% block user %}
<ul class="nav navbar-nav">
  <li class="">
    <a href="">
      <span class="" aria-hidden="true"></span>&nbsp;
      {{user.username}}
    </a>
  </li>
</ul>
{% endblock %}

{% block section %}
<li class="">
  <a href="{% url 'manager:budget_create' %}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
    Add Budget
  </a>
</li>

<li class="">
  <a href="{% url 'manager:logout' %}">
    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;
    Logout
  </a>
</li>
{% endblock %}

{% block body %}
{% if budgets %}
<h1><center>Here are your Budgets: </center></h1><br>
  {% for budget in budgets %}
  <div class="container">
    <div class="row">
      <div class="col-8">
        <a href = "{% url 'manager:detail' budget.pk %}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <a href="{% url 'manager:detail' budget.pk %}" class="btn btn-info btn-lg">
                {{budget.budget_title}}
              </a>
            </div>
            <div class="panel-body" id="amount_of_money">
                ${{budget.budget_total}}
              <a href="{% url 'manager:budget-delete' budget.pk %}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>Delete
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <br>
  {% endfor %}

{% else %}
  <h3>You Dont have any budgets</h3>

{% endif %}
{% endblock %}
